@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e1e24; /* sleek dark background */
  font-family: 'Inter', sans-serif;
}
